{
    "#": "example configuration file with (mostly sane) defaults",
    "debug": true,
    "staging": true,
    "interface": "eth0",
    "platform": "pi",
    "http": {
        "bind_address": "127.0.0.1",
        "port"        : 8000
    },
    "cookies": {
        "#": "site: [{},{}] pairs listing cookies we want to set for specific sites",
    },
    "#": "if server_url is not set, we'll operate in standalone mode",
    "_server_url": "http://signage.local/api/beacon",
    "screen": {
        "#": "default resolution we'll be running at",
        "width": 1280,
        "height": 720
    },
    "content": {
        "feeds": {
            "#": "service feed examples",
            "photos"  : "http://services.sapo.pt/Photos/RSS/pesquisa/?termos=codebits2012&o=maisrecentes&limit=40",
            "codebits": "https://codebits.eu/rss",
            "sapo"    : "http://noticias.sapo.pt/rss/news/"
        },
        "twitter": "#codebits OR from:meopt OR from:sapo OR from:radarsapo OR from:PortugalTelecom OR from:cloudpt OR from:tmnpt"
    },
    "uzbl": {
        "#": "command patterns to make it easier to control uzbl-core",
        "local" : "set uri = http://%(host)s:%(port)d/%(page)s",
        "uri"   : "set uri = %s", 
        "cookie": "add_cookie %(domain)s %(path)s %(name)s %(value)s %(scheme)s %(expires)s",
        "ram": {
            "hard_limit": 114688,
            "soft_limit": 98304   
        }
    },
     "logging": {
        "version": 1,
        "formatters": {
            "http": {
                "format" : "localhost - - [%(asctime)s] %(process)d %(levelname)s %(message)s",
                "datefmt": "%Y/%m/%d %H:%M:%S"
            },
            "plain": {
                "format" : "%(asctime)s %(process)d %(levelname)s %(message)s",
                "datefmt": "%Y/%m/%d %H:%M:%S"
            }
        },
        "handlers": {
            "console": {
                "class"    : "logging.StreamHandler",
                "formatter": "http",
                "level"    : "DEBUG",
                "stream"   : "ext://sys.stdout"
            },
            "ram": {
                "class"    : "utils.InMemoryHandler",
                "formatter": "plain",
                "level"    : "DEBUG",
                "limit"    : 200
            }
        },
        "root": {
            "level"   : "DEBUG",
            "handlers": ["ram","console"]
        }
    }
}
